@font-face {
    font-family: 'Vtks';
    src: url('/fonts/vtks/Vtks.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Vtks", sans-serif;
    font-size: 30px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;

    /*padding-top: 5%;*/
    /*padding-bottom: 50px;*/
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-slide img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.zoomed {
    transform: scale(150.1);
}

.nav-bar {
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.nav-bar.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.cover1 {
    width: auto;
    height: 100%;
    background-image: url('../img/vempire.webp');
    background-size: contain; /* L'image couvre entièrement le conteneur */
    background-position: center; /* Centre l'image pour éviter un mauvais recadrage */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.cover2 {
    width: auto;
    height: 100%;
    background-image: url('../img/dusk.jpg');
    background-size: contain; /* L'image couvre entièrement le conteneur */
    background-position: center; /* Centre l'image pour éviter un mauvais recadrage */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.cover3 {
    width: auto;
    height: 100%;
    background-image: url('../img/cruelty.jpg');
    background-size: contain; /* L'image couvre entièrement le conteneur */
    background-position: center; /* Centre l'image pour éviter un mauvais recadrage */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}