@font-face {
    font-family: 'Vtks';
    src: url('/fonts/vtks/Vtks.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    /* font-family: "Vtks", sans-serif; */
    font-size: 30px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: #000;
    padding-top: 5px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 47%;
    margin: auto;
}

.swiper-slide img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.zoomed {
    transform: scale(150.1);
}

.nav-bar {
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.nav-bar.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.cover1 {
    width: auto;
    height: 100%;
    background-image: url('../img/vempire.webp');
    background-size: contain; /* L'image couvre entièrement le conteneur */
    background-position: center; /* Centre l'image pour éviter un mauvais recadrage */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.cover2 {
    width: auto;
    height: 100%;
    background-image: url('../img/dusk.jpg');
    background-size: contain; /* L'image couvre entièrement le conteneur */
    background-position: center; /* Centre l'image pour éviter un mauvais recadrage */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.cover3 {
    width: auto;
    height: 100%;
    background-image: url('../img/cruelty.jpg');
    background-size: contain; /* L'image couvre entièrement le conteneur */
    background-position: center; /* Centre l'image pour éviter un mauvais recadrage */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.lyrics {
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 50px;
}

.text {
    opacity: 1;
    color: aliceblue;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

#vempire .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250%;
    background-image: url('../img/vempire.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    opacity: 0.85; /* Transparence pour atténuer l'image */
    z-index: 0; /* Place l'image en arrière-plan */
}

/* Conteneur du texte */
#vempire .lyrics {
    position: relative; /* Positionnement au-dessus de l'image */
    z-index: 1; /* Place le texte au-dessus */
    color: aliceblue;
    padding: 50px 25px;
    text-align: center;
}

/* Style du texte */
#vempire .lyrics h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

#vempire .lyrics .text {
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 800;
    line-height: 1.8;
}
