@font-face {
    font-family: 'Vtks';
    src: url('/fonts/vtks/Vtks.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Vtks", sans-serif;
    font-size: 30px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 95%;

    /*padding-top: 5%;*/
    /*padding-bottom: 50px;*/
}

nav {
    height: 5%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-slide img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.zoomed {
    transform: scale(150.1);
}